<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="bg-blue-600 text-white px-4 py-3 shadow-md">
        <div class="max-w-5xl mx-auto flex justify-between items-center">
            <dvi class="text.xl font-semibold font-serif italic">Acompañamiento Virtual</dvi>
            <div class="space-x-4">
                <a href="/chat" class="italic hover:underline">Chat</a>
                <a href="/rutinas" class="italic hover:underline">Rutinas</a>
                <a href="/medicamentos" class="italic hover:underline">Medicamentos</a>
            </div>
        </div>
    </nav>
</body>
<script src="https://cdn.tailwindcss.com"></script>

</html>